.checkout-complete-container {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    //width: 400px;
    margin-bottom: 50px;
      h1 {
        padding: 10px;
      }
  }
  